<p style="text-align: justify;">
    Se desea realizar bootstrap en aras de estimar intervalos de confianza para los coeficientes 
    especificados de dos modelos, uno de errores normales de media cero y desviación estándar igual a 
    dos (Modelo 1), y otro con errores aleatorios con distribución t-student y 9 grados de libertad 
    (Modelo 2).
    Adicionalmente se tiene que la varianza teórica esperada para estos nuevos errores es de 
    gl/(gl-2) = 9/(9-2) = 1.2857. 
</p>
<h2 style="text-align: center; color: #375a7f;">Tabla de intervalos de confianza</h2>