<p>
    A la hora de ajustar un modelo es de vital importancia tener en cuenta los parámetros y/o 
    híper parámetros de los que depende este, pues la selección de los mismos desemboca
    en un buen o mal desempeño del modelo.
    Dicho lo anterior y considerando un modelo knn para una tarea de regresión se haya el número de
    vecinos más cercanos en aras de predecir si el precio de la acción de Pfizer sube o baja, esto
    a través de estimar el retorno de esta acción. Si es positivo, la acción sube y baja en caso 
    contrario.
    Para determinar el número de vecinos más cercano se usaron los siguientes métodos de validación
    cruzada
</p>
<ul>
    <li>Conjunto de entrenamiento y de prueba</li>
    <li>Leave one out cross validation</li>
    <li>k-fold cross validation</li>
</ul>
