<p>
    A la hora de seleccionar modelos es
    de suma importancia tener en cuenta
    sus desempeños, en este caso, se utilizó
    la tasa de error de prueba como
    métrica para determinar cual de los modelos
    es el "mejor"
</p>
<h2>Conclusiones</h2>
<ul>
    <li>Los modelos poseen desempeños muy pobres.</li>
    <li>A pesar de que el modelo KNN es no paramétrico
        y se esperaba un mejor desempeño por parte de este, esto no fue así.
    </li>
    <li>La pobreza a nivel predictivo de los modelos puede ser
        debida a la redundancia en los lags.
    </li>
    <li>Respecto al mejor modelo, hay un empate entre el modelo logístico y LDA, debido a que poseen la tasa de error
        más baja, sin embargo no es una diferencia avasallante
        con respecto a los otros modelos.
    </li>
    <li>Los modelos equivalen a predecir el alza o baja de
        una acción tirando una moneda.
    </li>
</ul>