<h1 style="text-align: center; color: #375a7f;">
    Ajuste del grado del polinomio usando validación cruzada
</h1>
<p>
    Ahora, se realizó una nueva simulación incluyendo un término cúbico para la covariable X <sub>1</sub> y su respectivo
    coeficiente. Usando validación cruzada se varió el grado del polinomio que ajusta el modelo a esta nueva variable
    predictora y se encontró, usando los tres métodos de validación, que a partir del grado tres en el polinomio que
    involucra a dicha covariable la métrica de desempeño desciende hasta casi cero,
    resultado esperable puesto que los datos se generaron con esta estructura.
</p>
<h2 style="text-align: center; color: #375a7f;">
    Comparación gráfica del error cuadrático medio
</h2>
