<h1 style="text-align: center;color: #375a7f;">Prueba</h1>
<p style="text-align: justify; font-size: 125%;">
    Muchas veces a la hora de ajustar modelos de regresión se omite un aspecto fundamental y
    es la relación existente entre el número de covariables y de registros que se poseen en los datos,
    esto debido a que la naturaleza del mundo moderno garantiza un gran volumen de datos y 
    dicha relación pasa a un segundo plano.
    Sin embargo, existen situaciones como por ejemplo estudios de tratamientos médicos donde
    el procedimiento es costoso o el estudio de un fenómeno celeste que no sucede muy amenudo
    que están cargados de variables pero carecen de un número grande de observaciones.
    Por esto, surge la interrogante de qué sucede con las estimaciones de los coeficientes de un
    modelo de regresión cuando el número de observaciones es inferior al número de covariables.
    Para responder a esta cuestión, se presenta una prueba que sustenta el hecho de que dichos
    coeficientes no son únicos dado el caso de que la cantidad de covariables supere a la cantidad
    de observaciones.
</p>