<h1 style="text-align: center;color: #375a7f;">Simulación y validación cruzada</h1>
<p style="text-align: justify;">
    Para comenzar este proceso de simulación, se acudió a las siguientes distribuciones para generar las covariables
    implicadas en los modelos:
</p>
<div style="text-align: center;">
    X<sub>1</sub> ~ N(0,1) <br>
    X<sub>2</sub> ~ U(2,4) <br>
    X<sub>3</sub> ~ F(3,4) <br>
</div>


<p style="text-align: justify;">
    Además de esto, se crea una variable dummy con tres categorías "A", "B" y "C" de la cual se definen las últimas
    dos covariables:
</p>
<div style="text-align: center;">
    X4 = 1 si la variable dummy toma el valor de "B" y 0 en otro caso <br>
    X5 = 1 si la variable dummy toma el valor de "C" y 0 en otro caso <br>
</div>
<p style="text-align: justify;">
    El respectivo coeficiente a la categoría de "A" se asume adicionado al intercepto del vector de parámetros.

    Posteriormente se generó la variable respuesta como la combinación lineal de las covariables anteriores con los
    coeficientes correspondientes,
    adicionando un término de error aleatorio con distribución normal de media cero y desviación estándar igual a
    dos. <br>

    Así, luego de esto se ajustaron seis modelos, uno usando todas las covariables descritas anteriormente, y otros
    cinco modelos usando las variables
    individuales, y con esto, se procedió a evaluar el desempeño de dichos modelos usando los tres métodos de
    validación cruzada. <br>

    Del gráfico se aprecia que el modelo ajustado con todas las variables fué el que mejor resultado demostró en
    todos los métodos de validación, seguido por el modelo ajustado usando la covariable con distribución F. Los
    modelos restantes muestran desempeños muy similares.<br>

    Finalmente, se logra ver que en general, el método de validación cruzada consigue métricas de desempeño más
    altas, el cuál es un resultado esperable
    en este método ya que de los tres es el más variable y el más sesgado. Los métodos K-fold con K = 10 y LOOCV
    arrojan valores muy similares en el
    RMSE de cada modelo, muestra de que cada uno es consistente en entrenamiento y validación.
</p>