.pfizer {
    text-justify: auto;
    font-size: 200%;
}

.Header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.pflogo {
    margin-left: auto;
    margin-right: auto;
}